<html>
<head>
    <title><%= eventname %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/siteAssets/css/main.css"/>
</head>

<body class="landing">
    <div id="page-wrapper" style="background-color:#FFF; text-align:center; direction: rtl;"> 			
        <div>
            <% if (name){ %>
            <p><%= name %>, <%= msg %></p>

            <p>מייל אישור נשלח ל- <%= email %>.</p>
        </div>
    </div>
    <% } %>
</body>
</html>
